In [1]:
import pandas as pd
df = pd.read_csv("NbaInfo.csv")

df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [2]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df["newSalary"]=1991

In [7]:
# 7730337
df["newSalary"]= df["Salary"]+100

In [8]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,newSalary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,7730437.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,6796217.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,1148740.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,5000100.0
...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,2433433.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,900100.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,2900100.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,947376.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.insert(1,column="NewName", value="Mr"+df["Name"])

In [10]:
df

,Name,NewName,Team,Number,Position,Age,Height,Weight,College,Salary,newSalary
0,Avery Bradley,MrAvery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,7730437.0
1,Jae Crowder,MrJae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,6796217.0
2,John Holland,MrJohn Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,NaN
3,R.J. Hunter,MrR.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,1148740.0
4,Jonas Jerebko,MrJonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,5000100.0
...,...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,MrShelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,2433433.0
454,Raul Neto,MrRaul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,900100.0
455,Tibor Pleiss,MrTibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,2900100.0
456,Jeff Withey,MrJeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,947376.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.set_index("Name").head(3)

,NewName,Team,Number,Position,Age,Height,Weight,College,Salary,newSalary
Name,,,,,,,,,,
Avery Bradley,MrAvery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,7730437.0
Jae Crowder,MrJae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,6796217.0
John Holland,MrJohn Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,NaN

In [19]:
df.set_index("Name").reset_index().head(3)

,Name,NewName,Team,Number,Position,Age,Height,Weight,College,Salary,newSalary
0,Avery Bradley,MrAvery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,7730437.0
1,Jae Crowder,MrJae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,6796217.0
2,John Holland,MrJohn Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,NaN

In [18]:
df.set_index("Name").reset_index(drop=True)

,NewName,Team,Number,Position,Age,Height,Weight,College,Salary,newSalary
0,MrAvery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,7730437.0
1,MrJae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,6796217.0
2,MrJohn Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,NaN
3,MrR.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,1148740.0
4,MrJonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,5000100.0
...,...,...,...,...,...,...,...,...,...,...
453,MrShelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,2433433.0
454,MrRaul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,900100.0
455,MrTibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,2900100.0
456,MrJeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,947376.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df.set_index("Name",inplace=True,drop=False)

In [24]:
df.head(1)

,Name,NewName,Team,Number,Position,Age,Height,Weight,College,Salary,newSalary
Name,,,,,,,,,,,
Avery Bradley,Avery Bradley,MrAvery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,7730437.0

In [25]:
df.drop("Avery Bradley").head(1)

,Name,NewName,Team,Number,Position,Age,Height,Weight,College,Salary,newSalary
Name,,,,,,,,,,,
Jae Crowder,Jae Crowder,MrJae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,6796217.0

In [36]:
df.drop("Age",axis="columns").head(2)

,Name,Position,Height,Weight,College,Salary,newSalary
Name,,,,,,,
Avery Bradley,Avery Bradley,PG,6-2,180.0,Texas,7730337.0,7730437.0
Jae Crowder,Jae Crowder,SF,6-6,235.0,Marquette,6796117.0,6796217.0

In [31]:
TeamSeries = df.pop("Team")

In [33]:
del df["Number"]

In [34]:
df

,Name,Position,Age,Height,Weight,College,Salary,newSalary
Name,,,,,,,,
Avery Bradley,Avery Bradley,PG,25.0,6-2,180.0,Texas,7730337.0,7730437.0
Jae Crowder,Jae Crowder,SF,25.0,6-6,235.0,Marquette,6796117.0,6796217.0
John Holland,John Holland,SG,27.0,6-5,205.0,Boston University,NaN,NaN
R.J. Hunter,R.J. Hunter,SG,22.0,6-5,185.0,Georgia State,1148640.0,1148740.0
Jonas Jerebko,Jonas Jerebko,PF,29.0,6-10,231.0,NaN,5000000.0,5000100.0
...,...,...,...,...,...,...,...,...
Shelvin Mack,Shelvin Mack,PG,26.0,6-3,203.0,Butler,2433333.0,2433433.0
Raul Neto,Raul Neto,PG,24.0,6-1,179.0,NaN,900000.0,900100.0
Tibor Pleiss,Tibor Pleiss,C,26.0,7-3,256.0,NaN,2900000.0,2900100.0
Jeff Withey,Jeff Withey,C,26.0,7-0,231.0,Kansas,947276.0,947376.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df = pd.read_csv("NbaInfo.csv")

df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [40]:
df[df["College"] == "Texas"]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
66,Cory Joseph,Toronto Raptors,6.0,PG,24.0,6-3,190.0,Texas,7000000.0
133,P.J. Tucker,Phoenix Suns,17.0,SF,31.0,6-6,245.0,Texas,5500000.0
179,Tristan Thompson,Cleveland Cavaliers,13.0,C,25.0,6-9,238.0,Texas,14260870.0
208,Myles Turner,Indiana Pacers,33.0,PF,20.0,6-11,243.0,Texas,2357760.0
289,Jordan Hamilton,New Orleans Pelicans,25.0,SG,25.0,6-7,220.0,Texas,1015421.0
294,LaMarcus Aldridge,San Antonio Spurs,12.0,PF,30.0,6-11,240.0,Texas,19689000.0
384,D.J. Augustin,Denver Nuggets,12.0,PG,28.0,6-0,183.0,Texas,3000000.0
414,Kevin Durant,Oklahoma City Thunder,35.0,SF,27.0,6-9,240.0,Texas,20158622.0

In [43]:
#  df[ condition & cond2]
df.where( df["College"] == "Texas")

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df.rename({"College":"New College"}, axis="columns", inplace=True)

In [55]:
# df.query( df["Team"]== "Boston Celtics")
#  query( expression   =>    Team column  ==  'value' )
# df[df["College"] == "Texas"]
df.query( "Team == 'Boston Celtics'")

,Name,Team,Number,Position,Age,Height,Weight,New College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0

In [58]:
#  issue is you have a white space in the column name
# df.query( " New College == 'Texas'")

SyntaxError: invalid syntax (<unknown>, line 1)

In [65]:
# df.rename({newcollege: college})
for data in df.columns:
    newdata = data.replace(" ","")
#     print(data, type(data))
    print(newdata)

Name
Team
Number
Position
Age
Height
Weight
NewCollege
Salary

In [66]:
df.columns = [ data.replace(" ","") for data in df.columns]

In [67]:
df.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'NewCollege', 'Salary'],
      dtype='object')

In [68]:
df.query( " NewCollege == 'Texas'")

,Name,Team,Number,Position,Age,Height,Weight,NewCollege,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
66,Cory Joseph,Toronto Raptors,6.0,PG,24.0,6-3,190.0,Texas,7000000.0
133,P.J. Tucker,Phoenix Suns,17.0,SF,31.0,6-6,245.0,Texas,5500000.0
179,Tristan Thompson,Cleveland Cavaliers,13.0,C,25.0,6-9,238.0,Texas,14260870.0
208,Myles Turner,Indiana Pacers,33.0,PF,20.0,6-11,243.0,Texas,2357760.0
289,Jordan Hamilton,New Orleans Pelicans,25.0,SG,25.0,6-7,220.0,Texas,1015421.0
294,LaMarcus Aldridge,San Antonio Spurs,12.0,PF,30.0,6-11,240.0,Texas,19689000.0
384,D.J. Augustin,Denver Nuggets,12.0,PG,28.0,6-0,183.0,Texas,3000000.0
414,Kevin Durant,Oklahoma City Thunder,35.0,SF,27.0,6-9,240.0,Texas,20158622.0

In [69]:
# condition
# query("   expr1  or  expr2       " )

df

,Name,Team,Number,Position,Age,Height,Weight,NewCollege,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
# df[value].apply(func)
# df.dropna(inplace=True)
df["NewCollege"].apply(len)
# df["Name"]=df["Name"]+"Futurense"

0       5
1       9
3      13
6       3
7       7
       ..
449     4
451     6
452     8
453     6
456     6
Name: NewCollege, Length: 364, dtype: int64

In [78]:
for column in ["Name","NewCollege"]:
    df[column]= df[column].apply(len)

In [79]:
df

,Name,Team,Number,Position,Age,Height,Weight,NewCollege,Salary
0,13,Boston Celtics,0.0,PG,25.0,6-2,180.0,5,7730337.0
1,11,Boston Celtics,99.0,SF,25.0,6-6,235.0,9,6796117.0
3,11,Boston Celtics,28.0,SG,22.0,6-5,185.0,13,1148640.0
6,13,Boston Celtics,55.0,PF,21.0,6-8,235.0,3,1170960.0
7,12,Boston Celtics,41.0,C,25.0,7-0,238.0,7,2165160.0
...,...,...,...,...,...,...,...,...,...
449,11,Utah Jazz,5.0,SG,23.0,6-8,206.0,4,1348440.0
451,13,Utah Jazz,23.0,SF,26.0,6-6,206.0,6,981348.0
452,10,Utah Jazz,41.0,PF,20.0,6-10,234.0,8,2239800.0
453,12,Utah Jazz,8.0,PG,26.0,6-3,203.0,6,2433333.0
456,11,Utah Jazz,24.0,C,26.0,7-0,231.0,6,947276.0

In [80]:
df = pd.read_csv("NbaInfo.csv")

df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [81]:
df.dropna(inplace=True)

In [84]:
df["Name"].dtype

dtype('O')

In [85]:
"tushar".upper()

'TUSHAR'

In [86]:
"tushar".title()

'Tushar'

In [92]:
#  str, int, date
df["Name"].str.upper().str.lower()

0      avery bradley
1        jae crowder
3        r.j. hunter
6      jordan mickey
7       kelly olynyk
           ...
449      rodney hood
451    chris johnson
452       trey lyles
453     shelvin mack
456      jeff withey
Name: Name, Length: 364, dtype: object

In [93]:
type(df["Name"].str)

pandas.core.strings.accessor.StringMethods

In [96]:
# df["Name"].str.apply(len)

In [98]:
df["College"].hasnans

False

In [101]:
df["College"].str.replace("LSU","Lovely University")

0                  Texas
1              Marquette
3          Georgia State
6      Lovely University
7                Gonzaga
             ...
449                 Duke
451               Dayton
452             Kentucky
453               Butler
456               Kansas
Name: College, Length: 364, dtype: object

In [103]:
df[ df["College"].str.contains("State") ]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
35,Cleanthony Early,New York Knicks,11.0,SF,25.0,6-8,210.0,Wichita State,845059.0
39,Kyle O'Quinn,New York Knicks,9.0,PF,26.0,6-10,250.0,Norfolk State,3750000.0
47,Isaiah Canaan,Philadelphia 76ers,0.0,PG,25.0,6-0,201.0,Murray State,947276.0
48,Robert Covington,Philadelphia 76ers,33.0,SF,25.0,6-9,215.0,Tennessee State,1000000.0
82,Draymond Green,Golden State Warriors,23.0,PF,26.0,6-7,230.0,Michigan State,14260870.0
89,Klay Thompson,Golden State Warriors,11.0,SG,26.0,6-7,215.0,Washington State,15501000.0
92,Jeff Ayres,Los Angeles Clippers,19.0,PF,29.0,6-9,250.0,Arizona State,111444.0
94,Branden Dawson,Los Angeles Clippers,22.0,SF,23.0,6-6,225.0,Michigan State,525093.0
116,D'Angelo Russell,Los Angeles Lakers,1.0,PG,20.0,6-5,195.0,Ohio State,5103120.0
134,T.J. Warren,Phoenix Suns,12.0,SF,22.0,6-8,230.0,North Carolina State,2041080.0
137,James Anderson,Sacramento Kings,5.0,SG,27.0,6-6,213.0,Oklahoma State,1015421.0
147,Kosta Koufos,Sacramento Kings,41.0,C,27.0,7-0,265.0,Ohio State,7700000.0
149,Eric Moreland,Sacramento Kings,25.0,PF,24.0,6-10,238.0,Oregon State,845059.0
182,Aron Baynes,Detroit Pistons,12.0,C,29.0,6-10,260.0,Washington State,6500000.0
184,Lorenzo Brown,Detroit Pistons,17.0,PG,25.0,6-5,189.0,North Carolina State,111444.0
199,Paul George,Indiana Pacers,13.0,SF,26.0,6-9,220.0,Fresno State,17120106.0
214,Jared Cunningham,Milwaukee Bucks,9.0,SG,25.0,6-4,195.0,Oregon State,947276.0
243,Michael Beasley,Houston Rockets,8.0,SF,27.0,6-10,235.0,Kansas State,306527.0
249,James Harden,Houston Rockets,13.0,SG,26.0,6-5,220.0,Arizona State,15756438.0
258,Tony Allen,Memphis Grizzlies,9.0,SG,34.0,6-4,213.0,Oklahoma State,5158539.0
262,Mike Conley,Memphis Grizzlies,11.0,PG,28.0,6-1,175.0,Ohio State,9588426.0
271,Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.0
279,Norris Cole,New Orleans Pelicans,30.0,PG,27.0,6-2,175.0,Cleveland State,3036927.0
282,Bryce Dejean-Jones,New Orleans Pelicans,31.0,SG,23.0,6-6,203.0,Iowa State,169883.0
283,Toney Douglas,New Orleans Pelicans,16.0,PG,30.0,6-2,195.0,Florida State,1164858.0
284,James Ennis,New Orleans Pelicans,4.0,SF,25.0,6-7,210.0,Long Beach State,845059.0
286,Tim Frazier,New Orleans Pelicans,2.0,PG,25.0,6-1,170.0,Penn State,845059.0
301,Kawhi Leonard,San Antonio Spurs,2.0,SF,24.0,6-7,230.0,San Diego State,16407500.0
345,Tyler Johnson,Miami Heat,8.0,SG,24.0,6-4,186.0,Fresno State,845059.0
365,Jason Smith,Orlando Magic,14.0,PF,30.0,7-0,240.0,Colorado State,4300000.0
368,Alan Anderson,Washington Wizards,6.0,SG,33.0,6-6,220.0,Michigan State,4000000.0
374,JJ Hickson,Washington Wizards,21.0,C,27.0,6-9,242.0,North Carolina State,273038.0
387,Kenneth Faried,Denver Nuggets,35.0,PF,26.0,6-8,228.0,Morehead State,11235955.0
389,Gary Harris,Denver Nuggets,14.0,SG,21.0,6-4,210.0,Michigan State,1584480.0
404,Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.0
422,Cameron Payne,Oklahoma City Thunder,22.0,PG,21.0,6-3,185.0,Murray State,2021520.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0

In [120]:
df["College"].str.split(" ").str.get(1).value_counts()

State           37
Carolina        20
Tech             8
Forest           6
A&M              3
College          3
John's           3
Kentucky         2
Michigan         2
Mary's           2
Mexico           2
Santa            2
Dame             2
Joseph's         2
(FL)             2
Valley           1
Green            1
Washington       1
Louis            1
Beach            1
Diego            1
Dominion         1
Commonwealth     1
Bonaventure      1
CC               1
Name: College, dtype: int64

In [142]:
df["College"].str.split(" ").str.get(1).value_counts()

State           37
Carolina        20
Tech             8
Forest           6
A&M              3
College          3
John's           3
Kentucky         2
Michigan         2
Mary's           2
Mexico           2
Santa            2
Dame             2
Joseph's         2
(FL)             2
Valley           1
Green            1
Washington       1
Louis            1
Beach            1
Diego            1
Dominion         1
Commonwealth     1
Bonaventure      1
CC               1
Name: College, dtype: int64

In [141]:
# North Carolina State	
df [ df["College"].str.contains("State")]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
35,Cleanthony Early,New York Knicks,11.0,SF,25.0,6-8,210.0,Wichita State,845059.0
39,Kyle O'Quinn,New York Knicks,9.0,PF,26.0,6-10,250.0,Norfolk State,3750000.0
47,Isaiah Canaan,Philadelphia 76ers,0.0,PG,25.0,6-0,201.0,Murray State,947276.0
48,Robert Covington,Philadelphia 76ers,33.0,SF,25.0,6-9,215.0,Tennessee State,1000000.0
82,Draymond Green,Golden State Warriors,23.0,PF,26.0,6-7,230.0,Michigan State,14260870.0
89,Klay Thompson,Golden State Warriors,11.0,SG,26.0,6-7,215.0,Washington State,15501000.0
92,Jeff Ayres,Los Angeles Clippers,19.0,PF,29.0,6-9,250.0,Arizona State,111444.0
94,Branden Dawson,Los Angeles Clippers,22.0,SF,23.0,6-6,225.0,Michigan State,525093.0
116,D'Angelo Russell,Los Angeles Lakers,1.0,PG,20.0,6-5,195.0,Ohio State,5103120.0
134,T.J. Warren,Phoenix Suns,12.0,SF,22.0,6-8,230.0,North Carolina State,2041080.0
137,James Anderson,Sacramento Kings,5.0,SG,27.0,6-6,213.0,Oklahoma State,1015421.0
147,Kosta Koufos,Sacramento Kings,41.0,C,27.0,7-0,265.0,Ohio State,7700000.0
149,Eric Moreland,Sacramento Kings,25.0,PF,24.0,6-10,238.0,Oregon State,845059.0
182,Aron Baynes,Detroit Pistons,12.0,C,29.0,6-10,260.0,Washington State,6500000.0
184,Lorenzo Brown,Detroit Pistons,17.0,PG,25.0,6-5,189.0,North Carolina State,111444.0
199,Paul George,Indiana Pacers,13.0,SF,26.0,6-9,220.0,Fresno State,17120106.0
214,Jared Cunningham,Milwaukee Bucks,9.0,SG,25.0,6-4,195.0,Oregon State,947276.0
243,Michael Beasley,Houston Rockets,8.0,SF,27.0,6-10,235.0,Kansas State,306527.0
249,James Harden,Houston Rockets,13.0,SG,26.0,6-5,220.0,Arizona State,15756438.0
258,Tony Allen,Memphis Grizzlies,9.0,SG,34.0,6-4,213.0,Oklahoma State,5158539.0
262,Mike Conley,Memphis Grizzlies,11.0,PG,28.0,6-1,175.0,Ohio State,9588426.0
271,Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.0
279,Norris Cole,New Orleans Pelicans,30.0,PG,27.0,6-2,175.0,Cleveland State,3036927.0
282,Bryce Dejean-Jones,New Orleans Pelicans,31.0,SG,23.0,6-6,203.0,Iowa State,169883.0
283,Toney Douglas,New Orleans Pelicans,16.0,PG,30.0,6-2,195.0,Florida State,1164858.0
284,James Ennis,New Orleans Pelicans,4.0,SF,25.0,6-7,210.0,Long Beach State,845059.0
286,Tim Frazier,New Orleans Pelicans,2.0,PG,25.0,6-1,170.0,Penn State,845059.0
301,Kawhi Leonard,San Antonio Spurs,2.0,SF,24.0,6-7,230.0,San Diego State,16407500.0
345,Tyler Johnson,Miami Heat,8.0,SG,24.0,6-4,186.0,Fresno State,845059.0
365,Jason Smith,Orlando Magic,14.0,PF,30.0,7-0,240.0,Colorado State,4300000.0
368,Alan Anderson,Washington Wizards,6.0,SG,33.0,6-6,220.0,Michigan State,4000000.0
374,JJ Hickson,Washington Wizards,21.0,C,27.0,6-9,242.0,North Carolina State,273038.0
387,Kenneth Faried,Denver Nuggets,35.0,PF,26.0,6-8,228.0,Morehead State,11235955.0
389,Gary Harris,Denver Nuggets,14.0,SG,21.0,6-4,210.0,Michigan State,1584480.0
404,Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.0
422,Cameron Payne,Oklahoma City Thunder,22.0,PG,21.0,6-3,185.0,Murray State,2021520.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0

In [133]:
df [ df["College"].str.endswith("State")]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
35,Cleanthony Early,New York Knicks,11.0,SF,25.0,6-8,210.0,Wichita State,845059.0
39,Kyle O'Quinn,New York Knicks,9.0,PF,26.0,6-10,250.0,Norfolk State,3750000.0
47,Isaiah Canaan,Philadelphia 76ers,0.0,PG,25.0,6-0,201.0,Murray State,947276.0
48,Robert Covington,Philadelphia 76ers,33.0,SF,25.0,6-9,215.0,Tennessee State,1000000.0
82,Draymond Green,Golden State Warriors,23.0,PF,26.0,6-7,230.0,Michigan State,14260870.0
89,Klay Thompson,Golden State Warriors,11.0,SG,26.0,6-7,215.0,Washington State,15501000.0
92,Jeff Ayres,Los Angeles Clippers,19.0,PF,29.0,6-9,250.0,Arizona State,111444.0
94,Branden Dawson,Los Angeles Clippers,22.0,SF,23.0,6-6,225.0,Michigan State,525093.0
116,D'Angelo Russell,Los Angeles Lakers,1.0,PG,20.0,6-5,195.0,Ohio State,5103120.0
134,T.J. Warren,Phoenix Suns,12.0,SF,22.0,6-8,230.0,North Carolina State,2041080.0
137,James Anderson,Sacramento Kings,5.0,SG,27.0,6-6,213.0,Oklahoma State,1015421.0
147,Kosta Koufos,Sacramento Kings,41.0,C,27.0,7-0,265.0,Ohio State,7700000.0
149,Eric Moreland,Sacramento Kings,25.0,PF,24.0,6-10,238.0,Oregon State,845059.0
182,Aron Baynes,Detroit Pistons,12.0,C,29.0,6-10,260.0,Washington State,6500000.0
184,Lorenzo Brown,Detroit Pistons,17.0,PG,25.0,6-5,189.0,North Carolina State,111444.0
199,Paul George,Indiana Pacers,13.0,SF,26.0,6-9,220.0,Fresno State,17120106.0
214,Jared Cunningham,Milwaukee Bucks,9.0,SG,25.0,6-4,195.0,Oregon State,947276.0
243,Michael Beasley,Houston Rockets,8.0,SF,27.0,6-10,235.0,Kansas State,306527.0
249,James Harden,Houston Rockets,13.0,SG,26.0,6-5,220.0,Arizona State,15756438.0
258,Tony Allen,Memphis Grizzlies,9.0,SG,34.0,6-4,213.0,Oklahoma State,5158539.0
262,Mike Conley,Memphis Grizzlies,11.0,PG,28.0,6-1,175.0,Ohio State,9588426.0
271,Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.0
279,Norris Cole,New Orleans Pelicans,30.0,PG,27.0,6-2,175.0,Cleveland State,3036927.0
282,Bryce Dejean-Jones,New Orleans Pelicans,31.0,SG,23.0,6-6,203.0,Iowa State,169883.0
283,Toney Douglas,New Orleans Pelicans,16.0,PG,30.0,6-2,195.0,Florida State,1164858.0
284,James Ennis,New Orleans Pelicans,4.0,SF,25.0,6-7,210.0,Long Beach State,845059.0
286,Tim Frazier,New Orleans Pelicans,2.0,PG,25.0,6-1,170.0,Penn State,845059.0
301,Kawhi Leonard,San Antonio Spurs,2.0,SF,24.0,6-7,230.0,San Diego State,16407500.0
345,Tyler Johnson,Miami Heat,8.0,SG,24.0,6-4,186.0,Fresno State,845059.0
365,Jason Smith,Orlando Magic,14.0,PF,30.0,7-0,240.0,Colorado State,4300000.0
368,Alan Anderson,Washington Wizards,6.0,SG,33.0,6-6,220.0,Michigan State,4000000.0
374,JJ Hickson,Washington Wizards,21.0,C,27.0,6-9,242.0,North Carolina State,273038.0
387,Kenneth Faried,Denver Nuggets,35.0,PF,26.0,6-8,228.0,Morehead State,11235955.0
389,Gary Harris,Denver Nuggets,14.0,SG,21.0,6-4,210.0,Michigan State,1584480.0
404,Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.0
422,Cameron Payne,Oklahoma City Thunder,22.0,PG,21.0,6-3,185.0,Murray State,2021520.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0

In [140]:
df["College"].str.endswith(" State").value_counts()

False    322
True      42
Name: College, dtype: int64

In [139]:
s=df["College"].str.split(" ").str.get(1)

0        NaN
1        NaN
3      State
6        NaN
7        NaN
       ...
449      NaN
451      NaN
452      NaN
453      NaN
456      NaN
Name: College, Length: 364, dtype: object